<div class="panel-body pt0 pb0">
	<div class="row">
		<div class="panel panel-default">
		
			<form class="form-horizontal group-border">
				<div class="form-group">
					<label class="col-lg-12 col-md-12" style="text-align: center" for="title">
							Setup your teaching plan summary first and add sections later after create the teaching plan
					</label>
				</div>
				<div class="form-group">
					
					<label class="col-lg-3 col-md-4 control-label" for="title">
						Teaching Plan Title *
						<a ng-mouseover="showNamePopover=true;" ng-mouseleave="showNamePopover=false;" class="fa fa-info-circle info"><div class="popover" ng-show="showNamePopover">The title of your teaching plan.</div></a>
					</label>
					<div class="col-lg-9 col-md-8">
						<input type="text" class="form-control" id="title" name="title" placeholder="Input Topic Title" ng-model="newTP.title" required/>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 col-md-4 control-label" for="options">
						Teaching Plan Options
						<a ng-mouseover="showNamePopover=true;" ng-mouseleave="showNamePopover=false;" class="fa fa-info-circle info"><div class="popover" ng-show="showNamePopover">The privacy options of your teaching plan.</div></a>
					</label>
					<div class="col-lg-9 col-md-8">
						<input type="checkbox" id = "collaboration" name="Allow Colaboration" ng-model="newTP.allow_collaboration_flag" ng-change="change()">
						<label for="collaboration"> Allow Collaboration</label>
						<label for="collaboration"> *Please declare how you want the others to collaborate in the Summary</label> <br>
						
						<input type='radio' name='public' value="Public" ng-model="newTP.public">Public</option> <br>
						<input type='radio' name='public' value="Private" ng-model="newTP.public">Private</option>
					
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 col-md-4 control-label" for="options">
						Teaching Plan Type
						<a ng-mouseover="showNamePopover=true;" ng-mouseleave="showNamePopover=false;" class="fa fa-info-circle info"><div class="popover" ng-show="showNamePopover">To set if the plan is for a student focused plan</div></a>
					</label>
					<div class="col-lg-9 col-md-8">
						<input type='radio' name='category' value="Student" ng-model="newTP.category">Student focused</option> <br>
						<input type='radio' name='category' value="Project" ng-model="newTP.category">Topic/Project focused</option>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-3 col-md-4 control-label" for="content">
						Summary 
						<a ng-mouseover="showWhatPopover=true;" ng-mouseleave="showWhatPopover=false;" class="fa fa-info-circle info"><div class="popover" ng-show="showWhatPopover">Summarise of your plan.</div></a>
					</label>
					<div class="col-lg-9 col-md-8">
						<textarea class="form-control" id="content" name="content" placeholder="Summarise or discription" ng-model="newTP.content"/>
					</div>
				</div>

			</form>

			<div class="col-lg-12 col-md-12"> 
				<div class="pull-right">
					<a class="btn btn-danger form-btn pull-right" ng-click="createNewTP()"  style="margin-top:15px; margin-bottom:10px;">create</a>
				</div>
			</div>
		
		</div>
	</div>	
</div>