<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row-fluid">
				<h3 class=panelLabel>Timesheet for this week</h3>
			</div>
	    </div>
     	<div class="panel-body pt0 pb0">

     		<div class="searchBox pull-right">
     			<div class="input-group">
     				<input class="form-control search-box" type="text" ng-model="search" placeholder="Search...">
     			</div>
     		</div>

			<table class="table table-bordered table-hover list-page">
				<tr class="table-head">
					<th>Date</th>
					<th>Student</th>
					<th>Hour(s)</th>
					<th>Updated</th>
				</tr>
				
			</table>
		</div>
	</div>
</div>